body {
    font-family: 'Arial', sans-serif;
    background-color: #ffd9e8;
    margin: 0;
    padding: 20px;
}

.header {
    background-color: #ff7ba7;
    border: none;
    border-radius: 50px;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 4, 100, 0.253);
    max-width: 600px;
    margin: 20px auto;
}

textarea {
    width: 96%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ceabb8;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    background-color: #ff7ba7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ff7ba7;
}

.message-box1 {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
}

.message-box2reply {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
}

.message-box3reply {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 11px;
}

.reply {
    background-color: #f8d6e0;
}
